In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

#set the max columns to none"
pd.set_option('display.max_columns', None)

In [2]:
size = 'demo'
type_ = 'train'

behaviors_path = f'./files/parquet/ebnerd_{size}/{type_}/behaviors.parquet'
behaviors_train_df = pd.read_parquet(behaviors_path)
print(f'Raw {size} validation behaviors df shape:          ',behaviors_train_df.shape)


size = 'demo'
type_ = 'validation'

behaviors_path = f'./files/parquet/ebnerd_{size}/{type_}/behaviors.parquet'
behaviors_val_df = pd.read_parquet(behaviors_path)
print(f'Raw {size} validation behaviors df shape:          ',behaviors_val_df.shape)

Raw demo validation behaviors df shape:           (24724, 17)
Raw demo validation behaviors df shape:           (17749, 17)

In [3]:
behaviors_train_df

,impression_id,article_id,impression_time,read_time,scroll_percentage,device_type,article_ids_inview,article_ids_clicked,user_id,is_sso_user,gender,postcode,age,is_subscriber,session_id,next_read_time,next_scroll_percentage
0,48401,NaN,2023-05-21 21:06:50,21.0,NaN,2,"[9774516, 9771051, 9770028, 9775402, 9774461, ...",[9759966],22779,False,NaN,NaN,NaN,False,21,16.0,27.0
1,152513,9778745.0,2023-05-24 07:31:26,30.0,100.0,1,"[9778669, 9778736, 9778623, 9089120, 9778661, ...",[9778661],150224,False,NaN,NaN,NaN,False,298,2.0,48.0
2,155390,NaN,2023-05-24 07:30:33,45.0,NaN,1,"[9778369, 9777856, 9778500, 9778021, 9778627, ...",[9777856],160892,False,NaN,NaN,NaN,False,401,215.0,100.0
3,214679,NaN,2023-05-23 05:25:40,33.0,NaN,2,"[9776715, 9776406, 9776566, 9776071, 9776808, ...",[9776566],1001055,False,NaN,NaN,NaN,False,1357,40.0,47.0
4,214681,NaN,2023-05-23 05:31:54,21.0,NaN,2,"[9775202, 9776855, 9776688, 9771995, 9776583, ...",[9776553],1001055,False,NaN,NaN,NaN,False,1358,5.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24719,579983230,NaN,2023-05-22 08:30:52,35.0,NaN,1,"[9775562, 9775701, 9486486, 9353420, 9775621, ...",[9775562],2053999,False,NaN,NaN,NaN,False,170832,7.0,28.0
24720,579983231,NaN,2023-05-22 08:31:34,89.0,NaN,1,"[9775347, 9678300, 9754160, 9770028, 9775500, ...",[9775361],2053999,False,NaN,NaN,NaN,False,170832,0.0,NaN
24721,579984721,9774541.0,2023-05-22 08:51:33,123.0,100.0,2,"[9775699, 9775722, 9774541, 9775648, 9775325]",[9775699],2060487,False,NaN,NaN,NaN,False,107303,73.0,100.0
24722,579984723,9775699.0,2023-05-22 08:53:36,73.0,100.0,2,"[9772221, 9758424, 9775699, 9775722, 9775621, ...",[9758424],2060487,False,NaN,NaN,NaN,False,107303,101.0,100.0
24723,580097289,9770541.0,2023-05-18 10:56:49,107.0,100.0,1,"[9657528, 9769356, 9746428, 9771237, 9770369, ...",[9770369],2096611,False,NaN,NaN,NaN,False,73638,73.0,7.0

In [15]:
final_df =  pd.concat([behaviors_train_df, behaviors_val_df], ignore_index=True)[['article_ids_clicked']].explode('article_ids_clicked').value_counts().reset_index()

In [16]:
# Save the interaction matrix to pickle
top_ten_file_path = f'./files/pickle/top_10_articles.pkl'

final_df.to_pickle(top_ten_file_path)